<mat-toolbar color="primary" class="app-toolbar">
    <mat-toolbar-row>
        <span><img width="40px;" [src]="logoPath"></span>
        <span>Italkereskedés</span>
        <span>
            <a routerLink="/beer">Sörök</a>
        </span>
        <span>
            <a routerLink="/whisky">Whisky</a>
        </span>
        <span class="example-spacer"></span>
        <span>
            <a routerLink="/profile"><img width="40px;" [src]="profilePath"></a>
        </span>
        <span>
            <a routerLink="/basket"><img width="40px;" [src]="basketPath"></a>
        </span>
        <span>
            <a routerLink="/login"><img width="40px;" [src]="logoutPath"></a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>