<app-toolbar></app-toolbar>

<div class="content" role="main">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Név </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Mennyiség </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Ár </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef> Törlés </th>
        <td  mat-cell *matCellDef="let element">       
          <mat-icon (click)="RemoveElementFromArray(element)">delete</mat-icon> </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-button style="margin-top: 10px;" (click)="buyBasket()">Megrendel</button>
</div>